<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>copy-result</string>
			<key>Image File</key>
			<string>CamelCase.png</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/ruby</string>
			<key>Shell Script File</key>
			<string>camel_case.rb</string>
			<key>Title</key>
			<string>UCamelCase</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Michal Subel</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Convert snake_case to CamelCase</string>
	<key>Extension Identifier</key>
	<string>com.msubel.popclip.extension.ucamelcase</string>
	<key>Extension Name</key>
	<string>UCamelCase</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
